@font-face {
    font-family: "Dosis Bold";
    src: url("fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "Dosis Regular";
    src: url("fonts/Dosis-Regular.otf");

}

@font-face {
    font-family: "Dosis-Light";
    src: url("fonts/Dosis-Light.ttf");

}

@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Freehand575 BT Regular";
    src: url("fonts/ufonts.com_freehand-575-bt.ttf");
}

@font-face {
    font-family: "Dosis ExtraLight";
    src: url("fonts/Dosis-ExtraLight.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Dosis ExtraBold";
    src: url("fonts/Dosis-ExtraBold.ttf");
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url("fonts/Dosis-SemiBold.ttf");
}

html {
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.none {
    display: none;
}

.clear {
    clear: both;
}

.img14 {
    margin-right: 16px;
    width: 14px;
    height: 14px;
}

.img13 {
    width: 13px;
    height: 13px;
}

.img24 {
    width: 24px;
    height: 24px;
}

.img38 {
    width: 38px;
    height: 38px;
}

.img34 {
    width: 34px;
    height: 34px;
}

.img58 {
    width: 58px;
    height: 58px;
}

.img126 {
    width: 126px;
    height: 126px;
}

#header {
    position: absolute;
    height: 100px;
    padding-top: 30px;
    left: 0;
    right: 0;
    color: #ffffff;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.back {
    /*height: 538px;*/
    min-height: 300px;
    background: url("../img/header_back.png") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rect {
    height: 100px;
    background-color: #40b684;
    border-bottom: 1px solid #4ebf8f;
}

.shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

p.logo {
    margin-left: 15px;
    position: relative;
    top: -36px;
    font: bold 36px/36px "Dosis Bold";
    text-transform: uppercase;
    float: left;
}

ul.menu {
    list-style-type: none;
    float: right;

}

ul.menu li {
    margin-right: 16px;
    text-transform: uppercase;
    display: inline-block;
    font: bold 16px/16px "Dosis Bold";
}

ul.menu li:last-child {
    margin-right: 0;
}

ul.menu li a {
    text-decoration: none;
    color: #ffffff;
}

ul.menu li a:hover {
    color: #ffffff;
}

ul.menu li a hr {
    display: none;
}

ul.menu li a:hover hr {
    display: block;
    height: 2px;
    border: 0;
    border-radius: 10%;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.header-h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font: 100 48px/48px "Dosis Regular";
}

p.header-h1 {
    text-align: center;
}

/*
левое меню headera
*/
.header-left-menu {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 40px;
    width: 155px;
    height: 144px;
}

.globe-wire {
    width: 45px;
    height: 45px;
    float: right;
}

.connect-point {
    margin-top: 40px;
    width: 51px;
    height: 51px;
    float: left;
}

.lamp {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    width: 57px;
    height: 57px;
}

/*
левое меню headera
*/
/*
правое меню headera
*/
.header-right-menu {
    margin-top: 150px;
    margin-bottom: 60px;
    margin-right: 75px;
    width: 118px;
    height: 195px;
}

.text-horizontal {
    width: 45px;
    height: 45px;
    float: left;
}

.layers {
    margin-top: 53px;
    width: 51px;
    height: 51px;
    float: right;
}

.cloud {
    float: right;
    margin-top: 32px;
    margin-right: 18px;
    width: 57px;
    height: 57px;
}

/*
правое меню headera
*/
/*
разделитель три точки
*/
.spliter-dot {
    margin-right: 10px;
}

.spliter-dot:last-child {
    margin-right: 0;
}

/*
разделитель три точки
*/
/*
лампочковое меню
*/
.menu-left {
    width: 295px;
    height: 170px;
    float: left;
    padding-right: 80px;
    padding-top: 56px;
}

.lamp-grey {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.top-left {
    top: 15px;
    left: 46px;
}

.big {
    left: 110px;
    top: -18px;
}

.top-right {
    top: -222px;
    left: 244px;
}

.bottom-left {
    top: -70px;
}

.bottom-right {
    top: -120px;
    left: 254px;
}

/*
лампочковое меню
*/
/*
блок текста
*/
.content-block {
    padding-top: 64px;
    height: 270px;
}

.block-text {
    max-width: 560px;
}

.content-h1 {
    text-transform: uppercase;
    font: 100 40px/40px "Dosis-Light";
}

.content-text {
    font: 100 16px/28px "Open Sans Light";
}

.button {
    padding: 10px 0px;
    text-align: center;
    width: 136px;
    height: 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font: bold 16px/16px "Dosis Bold";
    border: 2px solid #000000;
    border-radius: 5px;
}

.arrow {
    padding: 5px 0;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 17px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.arrow img {
    width: 10px;
    height: 14px;
}

a:hover.img-link {
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.7);
}

.menu-right {

}

.page-spliter {
    margin: 85px 0;
    height: 200px;
    background-color: #45b887;
}

.spliter-h1 {
    padding-top: 30px;
    color: #ffffff;
    text-align: center;
    font: normal 48px/48px "Freehand575 BT Regular";
}

.list {
    list-style-type: none;
    padding: 0;
}

.line {
    display: inline-block;
    padding-right: 8px;
    height: 48px;
}

.line:last-child {
    padding-right: 0;
}

.number {
    float: left;
    color: #ffffff;
    text-transform: uppercase;
    font: 100 60px/72px "Dosis ExtraLight";
}

.info {
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 8px;
    float: left;
    color: #ffffff;
    text-transform: lowercase;
    font: normal 24px/24px "Dosis Regular";
}

.block-arrow {
    width: 100px;
    padding-top: 30px;
}

.sans-italic {
    color: #c9c9c9;
    font: italic 12px/12px "Dosis Regular";
}

.partners {
    height: 234px;
    margin: 0 auto;
}

.partners:last-child {
    margin-bottom: 36px;
}

.partner {
    width: 313px;
    height: 234px;
}

.airplanes {
    background: url("../img/cudi-airplanes.png") no-repeat center;
}

.health {
    background: url("../img/your-health.png") no-repeat center;
}

.partner-text {

}

.star-caffee {
    background: url("../img/star-caffee.png") no-repeat center;
}

.nuke-studios {
    background: url("../img/nuke-studios.png") no-repeat center;
}

.kings-food {
    background: url("../img/kings-food.png") no-repeat center;
}

a.partner:hover {
    background-color: #fafafa;
}

.project-buttons {
    margin-top: 30px;
}

.project-button {
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font: bold 14px/32px "Dosis Bold";
    text-transform: uppercase;
    text-align: center;
    width: 56px;
    height: 30px;
    margin-right: 20px;
}

.project-button:first-child {
    color: #ffffff;
    background-color: #000000;
}

.project-button:last-child {
    margin-right: 0;
}

.projects {
    background-color: #ffffff;
}

.project {
    width: 300px;
    height: 240px;
    background-color: #dfdfdf;
    margin-left: 20px;
    margin-bottom: 20px;
}

.project:first-child {
    margin-left: 0;
}

.project:hover {
    background-color: #d2d1d0;
}

.portfolio-btn {
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font: bold 14px/40px "Dosis Bold";
    text-transform: uppercase;
    text-align: center;
    height: 40px;
    padding: 0 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.spliter-line {
    height: 2px;
    background-color: #e8e8e8;
}

.logo-black {
    width: 189px;
    height: 35px;
    background: url("../img/logo-black.png") no-repeat center;
    padding: 30px 0;
}

#footer p.text {
    width: 528px;
    color: #282828;
    font: 100 14px/24px "Open Sans Light";
}

.contacts {
    color: #282828;
    text-transform: uppercase;
    font: bold 18px/54px "Dosis Bold";
    text-align: right;
}

.contacts a {
    color: #282828;
    text-decoration: none;
}

.contact-info {
    color: #282828;
    text-align: right;
    font: 100 24px/40px "Open Sans Light";
}

.footer-btns {
    /*width: 470px;
    height: 25px;*/
    padding: 18px 0;
}

.footer-btn {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 27px;
}

a:last-child .footer-btn {
    margin-right: 0;
}

.facebook {
    background: url("../img/facebook.png") no-repeat center;
}

.twitter {
    background: url("../img/twitter.png") no-repeat center;
}

.skype {
    background: url("../img/skype.png") no-repeat center;
}

.mark {
    position: relative;
    left: 50%;
    width: 71px;
    height: 61px;
    background: url("../img/2013.png") no-repeat center;
}

.footer-link {
    color: #282828;
    text-transform: uppercase;
    font: bold 14px/36px "Dosis Bold";
    text-align: right;
}

h2 {
    letter-spacing: 6px;
    color: #282828;
    text-transform: uppercase;
    font: normal 36px/48px "Dosis Regular";
}

.content-menu {
    font: normal 18px/18px "Dosis Regular";
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    width: 270px;
}

.content-menu li {
    margin-bottom: 24px;
}

.content-menu li:last-child {
    margin-bottom: 0;
}

.content-menu a {
    color: #939393;
    text-decoration: none;
}

.content-menu a:hover {
    color: #282828;
    text-decoration: none;

}

.content-menu a:hover .circle {
    background: url("../img/circle-content-menu-hover.png") no-repeat center;
}

.circle {
    display: inline-block;
    margin-right: 9px;
    background: url("../img/circle-content-menu.png") no-repeat center;
}

.content-carrers {
    width: 618px;
    border-left: 2px #e8e8e8 solid;
    padding-left: 50px;
}

.carrers-text {
    width: 512px;
    color: #474747;
    font: 100 14px/24px "Open Sans Light";

}

h3 {
    color: #282828;
    font: bold 16px/16px "Open Sans Bold";
}
.h3-contact{
    text-transform: uppercase;
    font: bold 18px/18px "Dosis Bold";
    margin-bottom: 5px;
}

textarea {
    width: 274px;
    height: 27px;
    padding-top: 10px;
    padding-left: 20px;
    color: #474747;
    font: 100 13px/13px "Open Sans Light";
    border: none;
    border-radius: 30px;
    background-color: #f3f3f3;
    resize: none;
    margin-bottom: 16px;
}

textarea:nth-child(even) {
    margin-right: 14px;
}

textarea:nth-child(odd) {
    margin-right: 0;
}

textarea.text {
    width: 598px;
    height: 114px;
    margin-right: 0;
    margin-bottom: 0;
}

.carrer-btn {
    border: 2px solid #414141;
    border-radius: 7px;
    color: #414141;
    text-decoration: none;
    font: bold 16px/48px "Dosis Bold";
    text-transform: uppercase;
    text-align: center;
    height: 44px;
    width: 144px;
    margin-top: 20px;
    margin-bottom: 40px;
}

p.about {
    font: bold 16px/28px "Open Sans Bold";
}

div.about {
    font: 100 16px/28px "Open Sans Light";
    display: inline-block;
    width: 430px;
    margin-bottom: 46px;
}

div.about:nth-last-child(1) {
    margin-left: 50px;
}

.chronology-background {
    height: 326px;
    background-color: #fbfbfb;
}

.chronology {
    width: 820px;
    margin: 0 auto;
}

.popup {
    /*display: none;      */
    width: 120px;
    height: 77px;
    font: 100 13px/18px "Open Sans Light";
    text-align: center;
    background: url("../img/popup.png") no-repeat center;
}

.popup p {
    margin: 0 auto;
    padding-top: 10px;
    width: 104px;
    overflow: hidden;
}

#popup1 {
    margin-left: 0;
}

#popup2 {
    margin-left: 140px;
}

#popup3 {
    margin-left: 280px;
}

#popup4 {
    margin-left: 420px;
}

#popup5 {
    margin-left: 560px;
}

#popup6 {
    margin-left: 680px;
}

.dotted-spliter {
    width: 108px;
    height: 24px;
    display: inline-block;
    background: url("../img/dotted-spliter.png") no-repeat center;
}

.about-spliter {
    width: 728px;
    height: 24px;
    margin: 0 auto;
}

.about-dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/spliter-dot.png") no-repeat center;
}

.date {
    margin-right: 16px;
    margin-top: 30px;
    display: inline-block;
    width: 120px;
    height: 36px;
    color: #282828;
}

.date:last-child {
    margin-right: 0;
}

.month {
    padding: 0;
    margin: 0;
    font: 900 13px/13px "Dosis ExtraBold";
    text-align: center;
    text-transform: uppercase;
}

.year {
    padding: 0;
    margin: 0;
    font: bold 24px/24px "Dosis Bold";
    text-align: center;
}

.team-content {
    height: 106px;
    margin-bottom: 36px;
}

.team-foto {
    display: inline-block;
    width: 106px;
    height: 106px;
    margin-right: 50px;
    background: url("../img/big-circle.png") no-repeat center;
}

.team-info {
    display: inline-block;
    width: 190px;
    margin-right: 50px;
}

.post {
    color: #7e7e7e;
    font: bold 14px/14px "Dosis Bold";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.name {
    color: #414141;
    font: bold 22px/24px "Dosis Bold";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border-width: 4px;
    border-bottom: solid;
    padding-bottom: 6px;
}

.links {
    color: #3bb682;
    font: bold 14px/24px "Dosis Bold";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.links-dot-spliter {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("../img/small-dot.png") no-repeat center;
}

.about-employee {
    display: inline-block;
    width: 514px;
    font: 100 14px/24px "Open Sans Light";
}

.team-info:last-child {
    margin-right: 0;
}

.team-info-inline {
    margin-top: 50px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    font: 600 24px/48px "Dosis SemiBold";
}

.text-390 {
    display: inline-block;
    width: 390px;
    font: 100 14px/22px "Open Sans Light";
    margin-right: 26px;
}

.text-390:last-child {
    margin-right: 0;
}

.progress-back {
    position: relative;
    top: 0;
    left: 0;
    height: 3px;
    background: url("../img/progress-back.png") no-repeat center;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0%;
}
#progress-90{
    width: 90%;
}
#progress-85{
    width: 85%;
}
#progress-80{
    width: 80%;
}
.img24-align{
    display: block;
    margin: 34px auto 38px auto;
}
.contact-information{

}